/* style.css */

/* NOTE:   
 *  Style sheet reset
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

/* NOTE:   
 *  CSS variables 
**/
:root {
  --mainContainerVmargin: 2px;

  --mobile-width: 360px;
  --internalPadding: 2px;
  --fullViewableHeight: 100dvh;
  --bodyDivHeight: calc(100vh * 0.75);
  --headDivHeight: calc(100vh * 0.12);
  --footerDivHeight: calc(100vh * 0.12);
  --debugBorder: 1px solid MediumVioletRed;
}


#head {
  width: var(--mobile-width);
  height: var(--headDivHeight);

  margin-left: auto;
  margin-right: auto;

  padding-left: auto;
  padding-right: auto;
  border: var(--debugBorder);
}

#body {
  width: var(--mobile-width);
  height: var(--bodyDivHeight);

  margin-left: auto;
  margin-right: auto;
  border: var(--debugBorder);
}

