/* style.css */

/* NOTE:   
 *  Style sheet reset
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, san-serif;
  color: black;
  background: white;
}

/* NOTE:   
 *  CSS variables 
**/
:root {
  --mainContainerVmargin: 2px;

  --mobile-width: 360px;
  --internalPadding: 2px;
  --fullViewableHeight: 100dvh;

  --htmlBodyBGcolor: rgb(215, 215, 215);

  /* div dimensions */
  --bodyDivHeight: calc(100vh * 0.75);
  --headDivHeight: calc(100vh * 0.12);
  --footerDivHeight: calc(100vh * 0.12);

  /* css debug borders */
  --debugBorder1: 1px solid MediumVioletRed;
  --debugBorder2: 1px solid blue;

  /* dimensions and styling for boards */
  --boardWidth: 280px;
  --boardHeight: 280px;
  --sqWidth: calc(calc(var(--boardWidth) / 10) - 10);
  --sqHeight: calc(calc(var(--boardHeight) / 10) - 10);

  --missRadius: 20px;
}

body {
  background-color: var(--htmlBodyBGcolor);
}

#mainDiv {
  width: calc(var(--mobile-width) + 8px);
  height: var(--fullViewableHeight);

  margin: auto;
  padding: var(--internalPadding);
  border: var(--debugBorder2);
}

#head {
  width: var(--mobile-width);
  height: var(--headDivHeight);

  margin-left: auto;
  margin-right: auto;

  padding-left: auto;
  padding-right: auto;
  border: var(--debugBorder1);
}

#mainTitle {
  margin: auto;
  width: 160px;
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
}

#body {
  width: var(--mobile-width);
  height: var(--bodyDivHeight);

  margin-left: auto;
  margin-right: auto;
  border: var(--debugBorder);

#player1Board,
#player2Board {
  width: var(--boardWidth);
  height: var(--boardHeight);
  border: var(--debugBorder1);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}


.boardSq {
  width: var(--sqWidth);
  height: var(--sqHeight);
  border: var(--debugBorder1);
  /* border: dodgerblue; */
}

/* styling the square when it registers a 'miss' */
.marker.miss {
  background: #000;
  width: var(--missRadius);
  height: var(--missRadius);
  margin: auto;
  border-radius: 50%;
}

/* styling the square when it registers a 'hit' */
.marker.hit {
  background: red;
  color: white;
  width: calc(var(--sqWidth) - 4) px;
  height: calc(var(--sqHeight) - 4) px;
  margin: auto;
  font-size: 1.2em;
  font-weight: 900;
  border: 1px solid black;
}

#footer {
  width: var(--mobile-width);
  height: var(--footerDivHeight);

  margin-left: auto;
  margin-right: auto;
  border: var(--debugBorder1);
}
